body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 580px; }

a img {
  border: none; }

p {
  margin: 0 0 0 0;
  Margin: 0 0 0 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #E4E5EA; } }

table.body {
  background: #E4E5EA;
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 580px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 16px;
  padding-bottom: 16px; }
  th.columns .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }
    th.columns .columns center {
      min-width: none !important; }

th.columns.last {
  padding-right: 16px; }

th.columns table:not(.button) {
  width: 100%; }

th.large-1 {
  width: 32.33333px;
  padding-left: 8px;
  padding-right: 8px; }

.body .columns th.large-1 {
  width: 8.33333%; }

th.large-2 {
  width: 80.66667px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-2.first {
  padding-left: 16px; }

.body .columns th.large-2 {
  width: 16.66667%; }

th.large-3 {
  width: 129px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-3.first {
  padding-left: 16px; }

th.large-3.last {
  padding-right: 16px; }

.body .columns th.large-3 {
  width: 25%; }

th.large-4 {
  width: 177.33333px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-4.first {
  padding-left: 16px; }

th.large-4.last {
  padding-right: 16px; }

.body .columns th.large-4 {
  width: 33.33333%; }

th.large-5 {
  width: 225.66667px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-5.first {
  padding-left: 16px; }

th.large-6 {
  width: 274px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-6.first {
  padding-left: 16px; }

th.large-6.last {
  padding-right: 16px; }

.body .columns th.large-6 {
  width: 50%; }

th.large-7 {
  width: 322.33333px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-7.last {
  padding-right: 16px; }

th.large-9 {
  width: 419px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-9.first {
  padding-left: 16px; }

th.large-9.last {
  padding-right: 16px; }

.body .columns th.large-9 {
  width: 75%; }

th.large-12 {
  width: 564px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-12.first {
  padding-left: 16px; }

th.large-12.last {
  padding-right: 16px; }

th.large-12 center {
  min-width: 532px; }

.body .columns th.large-12 {
  width: 100%; }

th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

img.float-right {
  float: right;
  text-align: right; }

table.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

@media only screen and (max-width: 596px) {
  table.body table.container .show-for-large {
    display: none !important;
    width: 0;
    mso-hide: all;
    overflow: hidden; } }

body,
table.body,
h2,
h4,
p,
td,
th,
a {
  color: #0a0a0a;
  font-family: "Helvetica Neue", Helvetica, Arial, "DejaVuSansBook", sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h2,
h4 {
  color: inherit;
  word-wrap: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, "DejaVuSansBook", sans-serif;
  font-weight: normal;
  margin-bottom: 0;
  Margin-bottom: 0; }

h2 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 0;
  Margin-bottom: 0; }

a {
  color: #ff690f;
  text-decoration: none; }
  a:hover {
    color: #db5200; }
  a:active {
    color: #db5200; }
  a:visited {
    color: #ff690f; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #E4E5EA;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

@media only screen and (max-width: 596px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px !important;
    padding-right: 16px !important; }
    table.body .columns .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  th.small-3 {
    display: inline-block !important;
    width: 25% !important; }
  th.small-4 {
    display: inline-block !important;
    width: 33.33333% !important; }
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  th.small-9 {
    display: inline-block !important;
    width: 75% !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  .columns th.small-12 {
    display: block !important;
    width: 100% !important; } }

html,
body,
.body {
  background: #E4E5EA;
  background-color: #E4E5EA; }

.header {
  background: #ff690f;
  background-color: #ff690f;
  width: 100%; }
  .header .columns {
    padding: 20px !important; }
    .header .columns .logo_white {
      width: 128px; }
    .header .columns .user_icon {
      width: 32px; }

.sub-header {
  background: #D65600;
  background-color: #D65600; }
  .sub-header .columns {
    padding-bottom: 5px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-top: 5px !important; }
    .sub-header .columns a {
      color: #ffffff;
      font-size: 14px;
      font-weight: 700; }
      .sub-header .columns a .icons {
        width: 20px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: bottom; }
    .sub-header .columns .menu-divider {
      display: block;
      height: 20px;
      width: 1px;
      background: #ff690f;
      background-color: #ff690f; }
    .sub-header .columns th {
      text-align: center; }

.deal-of-day {
  background: #13191f;
  background-color: #13191f; }
  .deal-of-day .columns th {
    padding-top: 30px !important;
    padding-bottom: 20px !important; }
  .deal-of-day img {
    padding-bottom: 20px !important; }
  .deal-of-day h2 {
    color: #ffffff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px !important; }
  .deal-of-day p {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px !important; }
  .deal-of-day span {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    display: block; }
    .deal-of-day span.save-amount {
      font-size: 14px; }
    .deal-of-day span.tiny-info {
      font-size: 10px;
      font-weight: 300;
      padding-bottom: 10px; }
    .deal-of-day span.price {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px; }
  .deal-of-day .button {
    display: block;
    width: 150px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #ffffff;
    margin: 0 auto; }
    .deal-of-day .button:hover {
      color: #ff690f; }

.content-area {
  background: #f1f4f7;
  background-color: #f1f4f7; }
  .content-area > tbody > tr > th {
    padding-top: 0 !important; }
  .content-area .first-offer {
    padding-top: 16px !important; }
  .content-area .offer {
    background: #fff;
    background-color: #fff; }
    .content-area .offer .columns th {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      padding-right: 20px !important;
      padding-left: 20px !important; }
    .content-area .offer .columns > table {
      max-width: 568px;
      table-layout: fixed; }
    .content-area .offer img {
      padding-bottom: 20px !important; }
    .content-area .offer p {
      color: #334755;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      padding-bottom: 20px !important; }
    .content-area .offer span {
      color: #ffffff;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      display: block; }
      .content-area .offer span.save-amount {
        font-size: 14px;
        color: #1a88f3; }
      .content-area .offer span.tiny-info {
        font-size: 10px;
        font-weight: 700;
        padding-bottom: 10px;
        color: #334755; }
      .content-area .offer span.price {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px;
        color: #334755; }
    .content-area .offer .button {
      background: #14181c;
      background-color: #14181c;
      display: block;
      width: 150px;
      text-align: center;
      padding-top: 7px;
      padding-bottom: 7px;
      border: 1px solid #fff;
      border-radius: 5px;
      color: #ffffff;
      margin: 0 auto; }
      .content-area .offer .button:hover {
        color: #ff690f; }
    .content-area .offer.last-offer .group-icons {
      width: 190px;
      margin: 0 auto;
      padding-bottom: 0 !important; }
    .content-area .offer.last-offer h4 {
      color: #334755;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      padding-bottom: 20px !important; }
    .content-area .offer.last-offer p {
      color: #334755;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      padding-bottom: 20px !important; }

.footer-top {
  background: #222d37;
  background-color: #222d37;
  color: #ffffff; }
  .footer-top > tbody > tr {
    vertical-align: middle; }
  .footer-top > tbody > tr > th {
    padding-bottom: 15px !important;
    padding-top: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important; }
  .footer-top th {
    padding-bottom: 0px;
    padding-top: 0px; }
  .footer-top .circle-logo {
    display: block;
    margin: 0 auto; }
  .footer-top .cta {
    display: block;
    font-size: 14px;
    hyphens: none;
    color: #ffffff;
    padding-left: 10px; }
  .footer-top .info {
    display: block;
    font-size: 12px;
    hyphens: none;
    color: #ffffff;
    padding-left: 10px; }
  .footer-top .info-section > table > tbody > tr > th {
    padding-left: 10px !important;
    color: #ffffff !important; }
  .footer-top .store-logos img {
    height: 40px;
    width: 120px;
    display: block;
    margin: 0 auto;
    padding-bottom: 5px; }

.footer-social {
  background: #14181c;
  background-color: #14181c; }
  .footer-social > tbody > tr > th {
    padding-top: 20px;
    padding-bottom: 20px; }
  .footer-social th {
    padding-top: 0;
    padding-bottom: 0; }
  .footer-social .logo-section img {
    width: 128px; }
  .footer-social .icons-section img {
    width: 32px;
    display: block;
    margin: 0 auto; }

.footer-menu {
  background: #14181c;
  background-color: #14181c;
  border-bottom: 1px solid #2d3e4b;
  border-top: 1px solid #2d3e4b; }
  .footer-menu .columns {
    padding-bottom: 5px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-top: 5px !important; }
    .footer-menu .columns a {
      color: #ffffff;
      font-size: 14px;
      font-weight: 700; }
      .footer-menu .columns a .icons {
        width: 20px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: bottom; }
    .footer-menu .columns .menu-divider {
      display: block;
      height: 20px;
      width: 1px;
      background: #2d3e4b;
      background-color: #2d3e4b; }
    .footer-menu .columns th {
      text-align: center; }

.footer-bottom {
  background: #14181c;
  background-color: #14181c; }
  .footer-bottom > tbody > tr > th {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-right: 30px !important;
    padding-left: 30px !important; }
  .footer-bottom .lower-links .a-link {
    font-size: 12px !important;
    color: #ffffff !important;
    margin-right: 10px; }
    .footer-bottom .lower-links .a-link:nth-child(4) {
      margin-right: 0; }
    .footer-bottom .lower-links .a-link:hover {
      color: #ff690f; }
  .footer-bottom .privacy-text th {
    padding-bottom: 0; }
  .footer-bottom .privacy-text p {
    color: #a0a1a3;
    font-size: 10px;
    hyphens: none;
    padding-bottom: 30px; }
  .footer-bottom .copyright th, .footer-bottom .address th {
    padding-bottom: 0; }
  .footer-bottom .copyright .columns p, .footer-bottom .address .columns p {
    color: #d0d0d1;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 0; }

.center-tag {
  min-width: auto; }
